{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <h3>Cart</h3>
    <div class="col-lg-12">
	    <div class="cart-element">
        <a  class="btn btn-outline-dark" href="{% url 'designstore' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>3</strong></h5></th>
						<th><h5>Total:<strong> $42</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>
        
				<br>
				

	    </div>
	    <br>
	    <div class="cart-element">

      </div>
    </div>
{% endblock content %}