body{
    background-color: #87cefa;
}

.thumbnail{
	width: 100%;
	height: 200px;
}

.product{
	border-radius: 0 0 4px 4px;
  margin-top: 5px;
}

.btn{
  color: white;
  background-color: grey;
  margin-bottom: 20px;
}

#login-btn{
    margin-top: 20px;
    margin-left: 10px;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#testimonial_info{
    width: 50%;
    float: left;
}

@media (max-width: 768px) {


    #testimonial_info{
        width: 100%;
    }
  
}


@media (max-width: 576px) {

    .product_img{
      width: 100%;
      height: 300px;
    }
    #testimonial_info{
      width: 100%;
    }
 
 
}
